/* ------------------------------------------------------------------------------------ */
/* Allgemeine Stile für den Header */
/* ------------------------------------------------------------------------------------ */
.header-flex {
  display: flex;
  flex-direction: row; /* Ausrichtung nebeneinander */
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Schatten für einen 3D-Effekt */
}

/* ------------------------------------------------------------------------------------ */
/* Stile für die Navigationsreiter */
/* ------------------------------------------------------------------------------------ */

.nav .nav-link {
  background-color: #f3f3f3; /* Hintergrundfarbe für Reiter */
  border: none; /* Leichte Grenze für Reiter */
  border-radius: 4px; /* Abgerundete Ecken für Reiter */
  padding: 5px 10px; /* Innenabstand für Reiter => etwas Padding für bessere Klickfläche */
  cursor: pointer; /* Zeiger-Cursor für Klickbarkeit */
  text-decoration: none; /* Keine Unterstreichung der Links */
  color: #343a40; /* Textfarbe */
  font-size: 15px; /* Schriftgröße */
  transition: background-color 0.3s, color 0.3s; /* Übergangseffekte für Hintergrund- und Textfarbe */
  width: 110px; /* festes Breite */
  height: 70px; /* feste Höhe */
  margin-top: 10px;
}
/* Stil für den aktiven Reiter */
.nav .nav-link.active {
  background-color: #343a40; /* Dunkler Hintergrund für aktiven Reiter */
  color: rgb(255, 255, 255); /* Weiße Textfarbe für aktiven Reiter */
  text-decoration: underline;
  font-weight: bold; /* Fettdruck für aktiven Reiter */
  margin-top: 10px;
  width: 120px; /* Anpassung des Reiters zur besseren Visualisierung */
  height: 75px; /* Anpassung des Reiters zur besseren Visualisierung */
}

/* Hover-Effekt für Reiter */
.nav .nav-link:hover {
  background-color: #f9f9f9 !important; /* Hellerer Hintergrund bei Hover */
  color: #343a40 !important; /* Textfarbe bei Hover */
  text-decoration: underline !important;
}

.nav-link {
  font-size: 16px; /* Standard Schriftgröße */
  padding: 10px 15px; /* Standard Padding */
}
/* Container für Logo und Titel */
.logo-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Logo-Stile */
.logo {
  margin-left: 5px;
  width: 80px;
  height: 80px;
}

/* Stile für die Überschrift */
.site-title {
  margin-left: 45px;
  margin-top: 25px;
}

/* Container für die Navigation */
.nav-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Abstand nach unten für bessere Lesbarkeit */
}

/* Navigation Reiter */
.nav {
  list-style: none;
  margin: 5px;
  padding: 5px;
  display: flex;
}

/* Einzelne Navigation Reiter */
.nav .nav-item {
  margin-left: 5px; /* Abstand zwischen den Reitern */
  margin-right: 5px; /* Abstand zwischen den Reitern */
}

/* Container für Hauptinhalt */
.container {
  max-width: 1080px;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Schatten für einen 3D-Effekt */
    background-color: #f3f3f3; /* Dunkler Hintergrund für Hauptinhalte */
    padding: 5px 5px; /* Etwas Padding für bessere Optik */
}

/* Margen oben */
.mt-3 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 3rem;
}

img {
  max-width: 100%;
  height: auto;
}

.nav[dir="rtl"] {
  justify-content: flex-end;
}

/* ------------------------------------------------------------------------------------ */
/* Stile für die Tabelle */
/* ------------------------------------------------------------------------------------ */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border-radius: 8px; /* Abgerundete Ecken für die Tabelle */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Schatten für einen 3D-Effekt */
}

body {
  font-size: 16px; /* Basis-Schriftgröße */
}
/* Kopfzeilen-Stile */
.table thead th {
  background-color: #343a40; /* Dunkler Hintergrund für die Kopfzeile */
  color: rgb(255, 255, 255);
  padding: 12px;
  text-align: left;
}

/* Zeilen-Stile */
.table tbody tr:nth-child(even) {
  background-color: #dbdbdb; /* Zebra-Streifen für gerade Zeilen */
}

.table tbody tr:hover {
  background-color: #e9ecef; /* Hover-Effekt für Zeilen */
}

/* Zellen-Stile */
.table td, .table th {
  padding: 12px; /* Padding für bessere Lesbarkeit */
  border: 1px solid #ddd; /* Leicht graue Grenzen für die Zellen */
}

/* ------------------------------------------------------------------------------------ */
/* Responsive Design für Tabellen und Container */
/* ------------------------------------------------------------------------------------ */

@media (max-width: 767px) {
  .nav .nav-item {
    margin-left: 5px; /* geringerer Abstand zwischen den Reitern => verbesserte Aufteilung */
    margin-right: 5px; /* geringerer Abstand zwischen den Reitern => verbesserte Aufteilung */
  }
  .table {
    font-size: 14px; /* Kleinere Schriftgröße für die Zellen */
  }
  .container {
    font-size:14px; /* Kleinere Schriftgröße innerhalb des containers */
  }
  .logo-container {
    font-size:14px; /* kleinere Schriftgröße innerhalb des Logo containers */
  }
  .header-flex {
    flex-direction: column; /* Ausrichtung untereinander */
  }
  .logo {
    width: 100px;
    height: 100px;
  }
  .site-title {
    margin-left: 65px;
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  .nav .nav-item {
    margin-left: 2px; /* geringerer Abstand zwischen den Reitern => verbesserte Aufteilung */
    margin-right: 2px; /* geringerer Abstand zwischen den Reitern => verbesserte Aufteilung */
  }

  .table {
    font-size: 12px; /* Kleinere Schriftgröße für die Zellen */
  }
  .container {
    font-size:12px; /* kleinere Schriftgröße innerhalb des containers */
  }
  .logo-container {
    font-size:12px; /* kleinere Schriftgröße innerhalb des Logo containers */
  } 
  .header-flex {
    flex-direction: column; /* Ausrichtung untereinander */
  }
  .logo {
    width: 80px;
    height: 80px;
  }
  .site-title {
    margin-left: 25px;
    margin-top: 10px;
  }
  @media (max-width: 400px) {
    .nav .nav-item {
      margin-left: 2px; /* geringerer Abstand zwischen den Reitern => verbesserte Aufteilung */
      margin-right: 2px; /* geringerer Abstand zwischen den Reitern => verbesserte Aufteilung */
    }
  
    .table {
      font-size: 12px; /* Kleinere Schriftgröße für die Zellen */
    }
    .container {
      font-size:12px; /* kleinere Schriftgröße innerhalb des containers */
    }
    .logo-container {
      font-size:12px; /* kleinere Schriftgröße innerhalb des Logo containers */
    } 
    .header-flex {
      flex-direction: column; /* Ausrichtung untereinander */
    }
    .logo {
      width: 80px;
      height: 80px;
    }
    .site-title {
      margin-left: 5px;
      margin-top: 10px;
    }
}
}